.main {
  margin: 0 auto;
  margin-top: 2rem;
  display: grid;
  gap: 0.5rem;
  max-width: 1440px;
  min-height: 100vh;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(19, auto);
  justify-content: center;
  align-items: center;
  justify-items: center;
}
@media screen and (min-width: 800px) {
  .main {
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(12, auto);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
